<!-- Simple form which will send a POST request -->
<form action="/movies/create" method="post">

  <p>Movie Title</p>
    <input type="text" name="theTitle">

  <p>Directed By</p>
    <input type="text" name="theDirector">

  <p>Year Published</p>
    <input type="text" name="theYear">

  <p>Average Rating</p>
    <input type="text" name="theRate">

  <p>Duration of the movie (EG 2h 15min)</p>
    <input type="text" name="theDuration">



  <input type="submit" value="Submit New Movie">
</form>

